@import 'grid';
@import 'fonts';
@import 'sizes-containers';
@import 'colors';
@import 'query-sizes';
* {
    margin: 0;
    font-family: $font-family;
  }
nav{
    width: $full-width;
    background:$container-background-mustard;
    height: $container-height;
    font:$title-font;
    color:$subtitle-color-white;
    padding: $container-padding;
}
.alineado{
    text-align:$text-align-left;
}
#container-menu ul{
    list-style: none;
}
#container-Menu ul li {
    background: $container-background-black;
    color: white;
    padding: 5%;
    margin-top: 1%;
    font-family: helvetica;
    list-style: none;
    text-align:$text-align-left;
}
#container-Menu ul li:hover {
    background: $container-background-mustard;
    color: $color-hover-black; 
}
.mostaza{
    background: $container-background-mustard !important;
}
.mostaza:hover{
    background: $container-background-black !important;
    color:$color-hover-white !important;
    list-style: none;
}

.aside{
    background:$container-background-black;
    padding: $container-padding;
    text-align: center;
    color: $subtitle-color-white;
    margin:$container-margin;
   
  
}
.container-central{
    text-align: $text-align-left;
}

footer {
    width: $full-width;
    background: $container-background-black;
    margin-top: 2%;
    color: $subtitle-color-white;
    text-align: center;
    padding: $container-padding;
}
#asistencia{
    background: $container-background;
}

/*Media queries*/

  #container-Menu,#container-central,
 .aside {
     @media screen and (min-width: $break-small) {
        width: $full-width;
    }
    @media screen and (min-width: $break-medium) {
        width: $medium-width;
    }
    @media screen and (min-width: $break-large) {
        width: $small-width;
    }
}



