@import 'grid';
@import 'fonts';
@import 'sizes-containers';
@import 'colors';
@import 'query-sizes';
* {
    margin: 0;
    font-family: $font-family;
  }
nav{
    width: $full-width;
    background:$container-background-mustard;
    height: $container-height;
    font:$title-font;
    color:$subtitle-color-white;
    padding: $container-padding;
    
}
#container-menu ul{
    list-style: none;
}
#container-Menu ul li {
    background: $container-background-black;
    color: white;
    padding: .1%;
    margin-top: 1%;
    font-family: helvetica;
    list-style: none;
}
#container-Menu ul li:hover {
    background: $container-background-mustard;
    color: $color-hover-black; 
}
#container-Menu ul li .mostaza{
    background: $container-background-mustard;
}
#container-Menu ul li .mostaza:hover{
    background: $container-background-black;
    color:$color-hover-white;
    list-style: none;
}

.aside{
    background:$container-background-black;
    padding: $container-padding;
    text-align: center;
    color: $subtitle-color-white;
    margin:$container-margin;
    float:right;
    clear:right;
  
}
.container-central{
    padding: 0;
}
#container-Menu{
    float:left;
    clear:left;
}
footer {
    width: $full-width;
    background: $container-background-black;
    margin-top: 2%;
    color: $subtitle-color-white;
    text-align: center;
    padding: $container-padding;
}

/*Media queries*/

  #container-Menu,#container-central,
 .aside {
     @media screen and (min-width: $break-small) {
        width: $full-width;
    }
    @media screen and (min-width: $break-medium) {
        width: $medium-width;
    }
    @media screen and (min-width: $break-large) {
        width: $small-width;
    }
}



